@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-inline-start: 0px;
  list-style-type: none;
}

ol {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-inline-start: 0px;
  list-style-type: none;

}

fieldset {
  border: 0;
  margin: 0px;
  padding: 0px;
}

legend {
  padding: 0px;
}

.content-container {
  width: 1160px;
  min-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
}

input:focus-visible, button:focus-visible, a:focus-visible {
  outline: none;
}

/*  header  */

.header-container {
  background: linear-gradient(to bottom, #ffffff 39px, #ffe17f 39px);
  box-sizing: border-box;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 16px;
  padding-bottom: 40px;
}

.navigation-user-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 22px;
}

.header.logo {
  display:inline-block;
  margin-bottom: -8px;
}

input[type="search"] {
  position: relative;
  width: 356px;
  height: 40px;
  box-sizing: border-box;
  background: url("../img/nav_header/search.svg") no-repeat -1px;
  background-color: transparent;
  padding: 10px 10px 10px 52px;
  border: 2px solid transparent;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

  font-size: 16px;
}

input[type="search"]::before {
  content: "";
  position: relative;
  display: block;
  background: url("../img/nav_header/search.svg") no-repeat;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}



input[type="search"]:focus-visible {
  border: 2px solid #af4fff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}


.input[type="search"]:placeholder-shown {
  border: 2px solid #000000;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.search-button {
  width: 160px;
  height: 40px;
  margin-left: -6px;
  padding: 10px 50px;
  background-color: transparent;
  border: 2px solid #000000;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

}

input:placeholder-shown ~ button {
  display: none;
}


.search-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.search-button:focus-visible {
  border-color: #af4fff;
}

.search-button:active {
  background-color: #000000;
  color: #b3b3b3;
}


.navigation-list-navigation-user {
  display: flex;
  width: 500px;
  justify-content: space-between;
  align-items: center;

}


.navigation-link {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-radius: 20px;


  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}


.navigation-link:hover {
  opacity: 0.6;
}

.navigation-link:focus-visible {
  padding: 10px 20px;
  box-sizing: border-box;
  border: 2px solid #AF4FFF;
  border-radius: 20px;
}

.navigation-link:active {
  opacity: 0.3;
}

.login-link {
  margin-left: -23px;
}

.login-link::before {
  display: block;
  content: "";
  background-image: url("../img/nav_header/login.svg");
  width: 13px;
  height: 12px;
  margin-right: 12px;
}


.compare-link {
  margin-right: -133px;
  margin-left: auto;
}

.compare-link::before {
  display: block;
  content: "";
  background-image: url("../img/nav_header/compare.svg");
  width: 10px;
  height: 12px;
  margin-right: 10px;
}

.basket-link {
  position: relative;
  margin-right: -22px;
}

.basket-link::before {
  display: block;
  content: "";
  background-image: url("../img/nav_header/basket.svg");
  width: 16px;
  height: 14px;
  margin-right: 10px;
}

.basket-span {
  position: absolute;
  left: 3px;
  padding-top: 2px;
  width: 23px;
  height: 21px;
  background-color: white;
  border-radius: 50%;
  text-align: center;

  font-size: 14px;
}

.navigation-list {
  display: flex;
  padding-left: 0px;
  justify-content: space-between;
}

.user-navigation-link {
  display: block;
  padding: 10px 18px;
  border: 2px solid transparent;
  border-radius: 20px;
  box-sizing: border-box;

  font-family: "Raleway";
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  text-decoration: none;
}

.header-catalogue-link {
  position: relative;

  display: block;
  margin-right: auto;
  margin-left: -20px;
}

.header-catalogue-link::before {
  position: absolute;
  display: block;
  content: "";
  left: 100%;
  top: -9%;
  width: 16px;
  height: 16px;
  padding: 16px;
  background-image: url("../img/nav_header/catalog-btn.svg");
  background-repeat: no-repeat;
  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.2;
  background-position: center;
  z-index: 2;
  transition: all 0.6s ease;
}



.header-catalogue-link:hover .dropdown-catalog {
  display: grid;
}

.header-catalogue-link:hover::before {
  background-image: url("../img/nav_header/cat-btn-hov.svg");
  opacity: 1;
}

.header-catalogue-link:active {
  opacity: 0.3;
}

.header-catalogue-link:active::before {
  background-image: url("../img/nav_header/cat-btn-hov.svg");
}

.warranty-link {

  margin-left: -11px;
  margin-right: 45px;
}

.contacts-link {

  margin-right: -18px;
}

.shipping-link:hover, .warranty-link:hover, .contacts-link:hover {
  color: #000000;
  text-decoration: underline;
  text-underline-offset: 8px;
}

.user-navigation-link:focus-visible {
  border: 2px solid #AF4FFF;
}

.shipping-link:active, .warranty-link:active, .contacts-link:active {
  border-bottom: 2px solid #000000;
  opacity: 0.3;
}

.dropdown-catalog {
display: none;

position: absolute;
width: 1100px;
left: -40px;
z-index: 2;
padding-left: 60px;
padding-top: 35px;
padding-bottom: 40px;
grid-template-rows: repeat(3, auto);
grid-template-columns: repeat(auto-fit, minmax(0, max-content));
grid-auto-flow: column;
gap: 10px 50px;

background-color: #ffe17f;
}



.copters-link {
grid-column: 3;
}


.dropbtn {
  display: flex;
}

.dropdown-catalog-link {
  display: block;
  border: 2px solid transparent;
  border-radius: 20px;
  padding: 5px 10px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 18px;
  color: #000000;


  text-decoration: none;
}

.dropdown-catalog-link:hover {
  opacity: 0.6;
}

.dropdown-catalog-link:focus-visible {
  border: 2px solid #af4fff;
}

.dropdown-catalog-link:active {
  opacity: 0.3;
}


/*  main  */

.main-container {
  flex-grow: 1;
}

.slider {
  margin-top: -38px;
  margin-bottom: 70px;
  counter-reset: number 0;

}

.slider-item {
  position: relative;
  display: flex;
  background: linear-gradient(to bottom, #ffe17f 27%, #ffffff 27%);
  counter-increment: number;
}

.slider-item2, .slider-item3 {
  display: none;
}

.slider-item::before {
  content: "0" counter(number);

  position: absolute;
  right: 50px;
  top: 15%;

  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  font-size: 180px;
  line-height: 30px;
  color: #ffffff;
}

.slider-content {
  position: relative;

  width: 560px;
  margin-left: 40px;
  padding-top: 125px;
}

.slider-slogan {
  margin-bottom: 30px;

  font-family: "Raleway";
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.slider-item-text {
  margin-bottom: 50px;
}

.slider-link-container {
  display: flex;
  justify-content: space-between;
  padding-right: 60px;
  margin-bottom: 60px;
}

.slider-more {
  display: flex;
  position: relative;
  padding-left: 35px;
  padding-right: 35px;
  text-align: center;
  justify-content: center;
  z-index: 1;
}

.slider-pagination-button {
  display: block;

  width: 10px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 50%;
  background-color: transparent;
}

.slider-pagination-button:hover {
  opacity: 0.6;
}

.slider-pagination-button:focus-visible {
  border: 2px solid #af4fff;
}


.slider-pagination-button:active {
  opacity: 0.3;
}

.slider-pagination-button-current {
  display: block;

  width: 10px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 50%;
  background-color: #000000;
}

.slider-pagination-item {
  display: block;
  margin-right: 20px;
}

.slider-pagination-item:last-child {
  margin-right: 0px;
}

.slider-more::before {
  content: "";
  position: absolute;
  top: 30%;
  width: 100%;
  height: 8px;
  background-color: #ffe17f;
  z-index: -1;
  transition: all 0.6s ease;
}

.slider-more:hover::before {
  transform: scaleY(6);
}

.slider-more:focus-visible::before {
  background-color: #af4fff;
}

.slider-more:active {
  color: rgba(0, 0, 0, 0.3);
}

.slider-more:active:before {
  transform: scaleY(6);
}

.command-btn {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  text-decoration: none;
}


.slider-table {
  display: flex;
  justify-content: space-between;
  border-spacing: 0px;

}

.slider th {
  font-weight: 400;
  font-size: 16px;
  text-align: left;
}

.slider td {
  font-size: 36px;
  color: #000000;
  padding-right: 55px;
  text-align: left;
}

.slider-prev {
  position: absolute;
  top: 43%;
  left: -106%;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 6px;
  background-image: url("../img/slider/slider-prev.svg");
  background-color: transparent;
  background-position: center;
  width: 40px;
  height: 80px;
  background-repeat: no-repeat;
  border: 0;


}

.slider-next {
  position: absolute;
  top: 43%;
  left: -16%;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 6px;
  background-image: url("../img/slider/slider-next.svg");
  background-color: transparent;
  width: 40px;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center;



}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:focus-visible {
  border: 2px solid #af4fff;
}

.slider-button:active {
  opacity: 0.3;
}

.navigation-catalogue {
  margin-bottom: 70px;

}

.catalogue {
  display: flex;
  justify-content: space-between;
}


.catalogue-menu-link {
  position: relative;
  display: block;
  min-width: 160px;

  font-family: "Raleway";
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none;
}

.catalogue-menu-link::before {

  display: block;
  content: "";
  width: 160px;
  height: 160px;
  margin-bottom: 35px;
  background-color: #ffe17f;
}

.catalogue-menu-link::after {
  position: absolute;
  display: block;
  content: "";
  width: 160px;
  height: 160px;
  top: -1px;
  margin-bottom: 35px;

}

.catalogue-menu-link:hover::before {
  background-color: #ffc700;
}

.catalogue-menu-link:focus-visible {
  color: #af4fff;
}

.catalogue-menu-link:focus-visible::before {
  outline: 5px solid #af4fff;
}

.catalogue-menu-link:active::before {
  background-color: #ffc700;
}

.catalogue-menu-link:active::after {
  opacity: 0.3;
}

.vr::after {

  background-image: url(../img/catalog_menu/vr.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.monopods::after {

  background-image: url(../img/catalog_menu/monopods.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}

.cameras::after{

  background-image: url(../img/catalog_menu/action_cams.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.fitness-tracker::after {

  background-image: url(../img/catalog_menu/fitness_trackers.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.smart-watch::after {

  background-image: url(../img/catalog_menu/smart_watch.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.copters::after {

  background-image: url(../img/catalog_menu/quadcopters.svg);
  background-repeat: no-repeat;
  background-position: center;
}



.tablist {
  font-family: "Raleway";
  font-weight: 800;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  text-decoration: none;
}

.tablist-wrapper {
  width: 100%;
  height: 318px;
  margin-top: 150px;
  margin-bottom: 90px;
  background: linear-gradient(to top, #f0f0f0 290px, #ffffff 28px);
}

.tablist-container {
  display: flex;
}

.tablist-menu {
  width: 280px;
  position: relative;
  padding-top: 20px;
}

.tablist-menu::after {
  position: absolute;
  content: "";
  display: block;
  top: -70px;
  right: -1%;
  width: 7px;
  height: 319px;
  background-color: #000000;
}

.tablist-link {
  position: relative;
  display: block;
  width: 160px;
  margin-bottom: 45px;
  z-index: 1;
  text-align: center;
}


.tablist-link::before {
  content: "";
  position: absolute;
  top: 30%;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  transition: all 0.6s ease;
}

.tablist-link:hover::before {
  transform: scaleY(6);
}

.tablist-link:focus-visible::before {
  background-color: #af4fff;
}

.tablist-link:active {
  color: #ffe17f;
}

.tablist-link:active::before {
  transform: scale(1.8, 6);
  left: 52px;
  background-color: #000000;
}


.tablist-section {
  position: relative;
  padding-left: 120px;
}



.tab-title {
  margin-bottom: 35px;
  position: relative;
}


.tab-shipping-info::before {
  content:"";
  position: absolute;
  top: 15px;
  right: -242px;
  width: 136px;
  height: 164px;
  background-image: url(../img/tablist/delivery.svg);
}

.tab-warranty-info {
  display: none;
}

.tab-credit-info {
  display: none;
}

.tab-warranty-info::before {
  content:"";
  position: absolute;
  top: -10px;
  right: -234px;
  width: 171px;
  height: 195px;
  background-image: url(../img/tablist/warranty.svg);
}

.tab-credit-info::before {
  content:"";
  position: absolute;
  top: -10px;
  right: -234px;
  width: 156px;
  height: 188px;
  background-image: url(../img/tablist/credit.svg);
}

.tab-title,
.about-us,
.contacts-title,
.newsletter h2,
.inner-header-title {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.about-us-and-contacts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
  padding-top: 40px;
}

.contacts {
  padding-right: 45px;
}

.about-us, .contacts-title {
  display: block;
  position: relative;
}

.about-us::before, .contacts-title::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  top: -50px;
  background-color: #000000;
}

.newsletter-about {
  padding-right: 35px;
  padding-top: 10px;
}



.extra-shipping {
  position: relative;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 110px;
  padding-right: 30px;
  padding-left: 25px;

  border: 5px solid transparent;
  background-color: #f0f0f0;

  font-family: "Raleway";
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  background-color: #f0f0f0;
  text-decoration: none;
}

.extra-shipping::before {
  content: "";
  position: absolute;
  border: 2px solid transparent;
  box-sizing: border-box;
  left: -8px;
  width: 125px;
  height: 100px;
  background: #ffe17f url(../img/special_delivery.svg) no-repeat;
  background-position: center;
}

.extra-shipping::after {
  position: absolute;
  display: block;
  right: 31px;
  content: "";
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  border: 0;
  background-image: url("../img/extra-shipping-info.svg");
  opacity: 0.3;
  align-self: center;
}

.extra-shipping:hover {
  background-color: rgba(235, 235, 235, 1);
}

.extra-shipping:hover::before {
  background-color: #ffc700;
}

.extra-shipping:hover::after {
  opacity: 1;
}

.extra-shipping:focus-visible {
  border: 5px solid #af4fff;
}

.extra-shipping:focus-visible::before {
  border: 5px solid #af4fff;
  border-right: 0;

}

.extra-shipping:active {
  opacity: 0.3;
}

.extra-shipping:active::before {
  background-color: #ffc700;
}

.shipping-details {
  position: relative;
  display: flex;
  padding-left: 35px;
  margin-bottom: 20px;
  align-items: center;

  font-weight: 700;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}

.shipping-details::before {
  position: absolute;
  display: block;
  content: "";
  left: -1px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffc700;

}

.newsletter-wrapper {
  width: 100%;
  background-color: #f0f0f0;
  padding-top: 70px;
  padding-bottom: 130px;
}

.newsletter-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;

}

.about-us-and-contacts h2 {
  margin-bottom: 46px;
}

.contacts-subtitle {
  margin-bottom: 15px;

  font-weight: 700;
  font-size: 24px;
}

.description {
  display: block;
  margin-bottom: 30px;
}

.shipping-companies {
  margin-top: 74px;
}


.feedback, .more {
  position: relative;
  display: block;
  z-index: 1;
  width: 260px;
  text-align: center;
}

.feedback {
  margin-top: 70px;
}

.more {
  margin-top: 75px;
}

.feedback::before, .more::before {
  content: "";
  position: absolute;
  top: 30%;
  left: -1%;
  z-index: -1;
  width: 100%;
  height: 8px;
  background-color: #ffe17f;
  transition: all 0.6s ease;
}

.feedback:hover::before, .more:hover::before {
  transform: scaleY(6);
}

.feedback:focus-visible::before, .more:focus-visible::before {
  background-color: #af4fff;
}
.feedback:active, .more:active {
  color: rgba(0, 0, 0, 0.3);
}

.feedback:active::before, .more:active::before {
  transform: scaleY(6);
}

.contacts-address-text,
.contacts-phone {
  font-style: normal;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: inherit;
}


.newsletter-form-wrapper {
  display: flex;
  justify-content: space-between;
}

.newsletter-form {
  display: flex;
}

input[type="email"] {
  width: 600px;
  height: 55px;

  background-color: transparent;
  border: 0;
  border-bottom: 3px solid #dcdcdc;

  font-size: 18px;
}

input[type="email"]:hover {
  border-bottom: 3px solid #ebebeb;
}

input[type="email"]:focus-visible {
background-color: #dcdcdc;
border-bottom: 3px solid #dcdcdc;
}

input[type="email"]:active {
  border-bottom: 3px solid #000000;
}

.newsletter-button {
  display: block;
  width: 260px;
  height: 60px;
  background-color: transparent;
  border: 3px solid #dcdcdc;

  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  background-color: #f0f0f0;
}

.newsletter-button:hover {
  color: #ffffff;
  background-color: #000000;
  border: 3px solid #000000;
}

.newsletter-button:focus-visible {
  border: 3px solid #af4fff;
}

.newsletter-button:active {
  color: #4c4c4c;
  background-color: #000000;
  border: 3px solid #000000;
}

.newsletter-email-description {
  position: relative;
  display: flex;
  align-items: center;
}

.newsletter-email-description::before {
  position: relative;
  display: block;
  content: "";
  left: -21px;
  width: 14px;
  height: 14px;
  background: url("../img/check_green.svg") no-repeat;

}

/*  footer  */

.page-footer {
  width: 100%;
  background-color: #444444;
  padding-top: 60px;
  padding-bottom: 60px;

  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.footer-logo-wrapper {
  margin-bottom: 35px;
}

.footer-content-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}

.footer-navigation {
  display: flex;
  width: 400px;
  margin-left: auto;
  justify-content: space-between;
}

.footer-nav-link {
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: 20px;

  font-family: "Raleway";
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: inherit;
  background-color: inherit;
  text-decoration: none;
}

.footer-nav-link:hover {
  color: #ffc700;
  text-decoration: underline;
  text-underline-offset: 8px;
}

.footer-nav-link:focus-visible {
  border: 2px solid #af4fff;
}

.footer-nav-link:active {
  opacity: 0.3;
  color: #ffc700;
  text-decoration: underline;
  text-underline-offset: 8px;
}

.footer-contacts-address {
  font-style: normal;
  color: inherit;
  background-color: inherit;
}

.socials-htmlacademy-wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.socials-htmlacademy-wrapper::before {
  content: "";
  position: absolute;
  bottom: 50%;
  left: 1px;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 400px;
  margin-right: 235px;
}

.footer-social-item {
  min-width: 40px;
  min-height: 40px;
  margin-right: 15px;
}

.footer-social-link::before {
  display: block;
  content: "";
  width: 40px;
  height: 40px;
  border: 5px solid transparent;
  border-radius: 50%;
  box-sizing: border-box;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.3);
  background-repeat: no-repeat;
}

.facebook::before {
  background-image: url("../img/socials/facebook.svg");
}

.instagram::before {
  background-image: url("../img/socials/instagram.svg");
}

.twitter::before {
  background-image: url("../img/socials/twitter.svg");
}

.footer-social-link:hover::before {
  background-color: #ffc700;
}

.footer-social-link:focus-visible::before {
  border: 5px solid #af4fff;
  background-color: transparent;
}

.facebook:focus-visible:before {
  background-image: url("../img/socials/facebook-focus-visible.svg");
}

.instagram:focus-visible:before {
  background-image: url("../img/socials/instagram-focus-visible.svg");
}

.twitter:focus-visible:before {
  background-image: url("../img/socials/twitter-focus-visible.svg");
}

.footer-social-link:active::before {
  background-color: #ffc700;
  opacity: 0.3;
}


.footer-academy-link::before {
  content: "";
  display: block;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-radius: 20px;
  width: 135px;
  height: 53px;
  padding: 20px;
  background-image: url("../img/htmlacademy_logo.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-academy-link:hover::before {
  background-image: url("../img/htmlacademy_logo_hover.svg");
}

.footer-academy-link:focus-visible::before {
  border: 2px solid #af4fff;
}

.footer-academy-link:active::before {
  background-image: url("../img/htmlacademy_logo_hover.svg");
  opacity: 0.3;
}

.footer-phone {
  display: inline;
  padding: 0px 10px;
  border: 2px solid transparent;
  border-radius: 20px;

  line-height: 30px;
  font-style: normal;
  color: inherit;
  background-color: inherit;
  text-decoration: none;
}

.footer-phone:hover {
  color: #ffc700;
}

.footer-phone:focus-visible {
  border: 2px solid #af4fff;
}

.footer-phone:active {
  color: #ffc700;
  opacity: 0.3;
}

.footer-hmltacademy {
  display: flex;
  justify-content: flex-end;
}

/*  catalog  */

.logout-link {
  margin-left: -20px;

}

.inner-header {
  margin-bottom: 40px;
}

.breadcrumbs {
  display: flex;

  margin-top: 15px;
}

.breadcrumbs-link {
  position: relative;
  display: flex;
  margin-right: 17px;
  padding: 5px 12px;
  border: 5px solid transparent;

  color: #666666;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}

.breadcrumbs-link::after {
  position: absolute;
  content: "";
  display: block;
  top: 40%;
  left: 104%;
  width: 4px;
  height: 7px;
  background: url("../img/breadcrmb-arrow.svg") no-repeat;
  opacity: 0.3;
}

.breadcrumbs-link:first-child {
  margin-left: -17px;
}


.breadcrumbs-link:hover {
  color: #000000;
}

.breadcrumbs-link:focus-visible {

  border: 5px solid #af4fff;
}

.breadcrumbs-link:active {
  color: #b3b3b3;
}



.catalog-wrapper {
  margin-top: 40px;
  padding-left: 60px;
}

.catalog-content-wrapper {
  display: flex;
}

.filter-container {

  background-color: #e5e5e5;
}


.filter {
  width: 200px;
  padding-top: 70px;
  padding-right: 70px;


  font-size: 16px;
  line-height: 19px;
  color: #000000;
  background-color: #e5e5e5;
}

.categories {
  width: 270px;
  height: 20px;
  padding-top: 25px;
  padding-bottom: 25px;

  font-family: "Raleway";
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  background-color: #dcdcdc;
}

.catalog-filter-title {
  margin-bottom: 30px;

  font-weight: bold;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.catalog-filter-group {
  padding-bottom: 30px;
}

.filter-button {
  position: relative;
  border: 0px;
  padding: 0 40px;
  background-color: inherit;
  z-index: 1;
}

.filter-button::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 8px;
  left: -1px;
  top: 30%;
  z-index: -1;
  background-color: #ffc700;
  transition: all 0.6s ease;
}

.filter-button:hover::before {
transform: scaleY(6);
}

.filter-button:focus-visible::before {
  background-color: #af4fff;
}

.filter-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.filter-button:active::before {
  transform: scaleY(6);

  }

.control-label {
  display: block;
  margin-bottom: 20px;
}

.sorting-wrapper {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;

  background-color: #ebebeb;
}


.sorting {
  padding-left: 70px;

  font-family: "Raleway";
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  background-color: #ebebeb;
}

.sorting-buttons {
  display: flex;
  width: 40px;
  padding-right: 10px;
  justify-content: space-between;

}

.sort-up {
  width: 10px;
  height: 10px;
  background: url(../img/sorting-up.svg) no-repeat transparent;
  opacity: 0.2;

}

.sort-down {
  display: block;
  width: 10px;
  height: 10px;
  background: url(../img/sorting-down.svg) no-repeat transparent;

}

.sort-up:hover, .sort-down:hover {
  opacity: 0.5;
}

.sort-up:focus-visible, .sort-down:focus-visible {
  outline: 5px solid #af4fff;
  outline-offset: 10px;
}

.sort-up:active, .sort-down:active {
  opacity: 1;
}

.product-list-container {
  padding-top: 70px;
  padding-left: 70px;
  padding-bottom: 77px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.product-card {
  position: relative;
}

.product-card-image {
  width: 360px;
  height: 380px;
  margin-bottom: 30px;
  object-fit: contain;
}

.product-card-info {
  display: flex;
  justify-content: space-between;
}

.product-card-link {
  display: block;

  text-decoration: none;
}

.product-card:hover .product-card-more {
  display: block;
}

.product-card-link:hover .product-card-image {
  opacity: 0.8;
}

.product-card-more:hover .product-card-image {
  opacity: 0.8;
}

.product-card-more {
  display: none;

  position: absolute;
  width: 180px;
  top: 39%;
  left: 26%;
  text-align: center;
  z-index: 2;
}

.product-card-more::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 8px;
  left: -1px;
  top: 30%;
  z-index: -1;
  background-color: #ffc700;
  transition: all 0.6s ease;
}

.product-card-more:hover::before {
transform: scaleY(6);
}

.product-card-more:focus-visible::before {
  background-color: #af4fff;
}

.product-card-more:active {
  color: rgba(0, 0, 0, 0.3);
}

.product-card-more:active::before {
  transform: scaleY(6);

  }

.product-card-link:focus-visible .product-card-title {
  color: #af4fff;
}

.product-card-link:focus-visible .product-card-price {
  color: #af4fff;
}

.product-card-link:focus-visible .product-card-image {
  outline: 5px solid #af4fff;
}

.product-card-title {
  max-width: 75%;

  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
}

.product-card-price {
  padding-left: 58px;

  line-height: 22px;
  color: #444444;
}


.pagination {
  display: flex;
  width: 700px;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #ebebeb;
}

.pagination-list {
  display: flex;
  width: 180px;
  justify-content: space-between;
}

.button-pagination-show-more {
  min-width: 760px;
  min-height: 55px;
  margin-top: 44px;
  margin-bottom: 50px;
  border: 3px solid #e5e5e5;
  box-sizing: border-box;
}

.button-pagination-show-more:hover {
  border: 3px solid #000000;
}

.button-pagination-show-more:focus-visible {
  border: 3px solid transparent;
  outline: 5px solid #af4fff;
}

.button-pagination-show-more:active {
  border: 3px solid #000000;
  opacity: 0.3;
}

.button-pagination-show-more,
.pagination-previous,
.pagination-next {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  text-decoration: none;
}

.pagination-link {
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;

  font-size: 16px;
  line-height: 19px;
  color: #444444;
  background-color: #ebebeb;
  text-decoration: none;
}

.pagination-link:hover + .pagination-previous {
  background-color: rgba(220, 220, 220, 1)
}

.pagination-link:hover .pagination-next {
  background-color: rgba(220, 220, 220, 1)
}

.pagination-number {
  width: 40px;
  text-align: center;
}
