@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.content-container {
  width: 1160px;
  min-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
}


/*  header  */

.header-logo:focus-visible {
  outline: 5px solid #af4fff;
  outline-offset: 5px;
}

.header-navigation ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.header-container {
  background: linear-gradient(to bottom, #ffffff 39px, #ffe17f 39px);
  box-sizing: border-box;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 16px;
  padding-bottom: 40px;
}

.navigation-user-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 18px;
  margin-bottom: 20px;
}

.header.logo {
  display: inline-block;
  margin-bottom: -8px;
}

.header-search-form {
  display: flex;
}

.input-header-search {
  width: 356px;
  height: 40px;
  margin-left: -16px;
  padding: 10px 10px 10px 50px;
  box-sizing: border-box;

  background: url("../img/nav_header/search.svg") no-repeat 12px 10px;
  background-color: transparent;
  border: 2px solid transparent;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

  font-family: "Rubik";
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
}


.input-header-search::-webkit-search-cancel-button {
  display: none;
}

.header-search-button {
  display: none;
  width: 160px;
  height: 40px;
  padding: 10px 50px;
  background-color: transparent;
  border: 2px solid #000000;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}


.input-header-search:placeholder-shown:focus-visible {
  border: 2px solid #af4fff;
  border-radius: 20px;
  outline: none;
}


.input-header-search:not(:placeholder-shown) {
  border: 2px solid #000000;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: transparent;
  outline: none;
}

.input-header-search:not(:placeholder-shown) + .header-search-button {
  display: inline-block;
  text-align: center;
  outline: none;
}


.header-search-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.header-search-button:focus-visible {
  border-color: #af4fff;
  outline: none;
}

.header-search-button:active {
  background-color: #000000;
  color: #b3b3b3;
}


.navigation-list-navigation-user {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  justify-content: space-between;
  align-items: center;
}


.navigation-link {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-radius: 20px;


  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}


.navigation-link:hover {
  opacity: 0.6;
}

.navigation-link:focus-visible {
  padding: 10px 20px;
  box-sizing: border-box;
  border: 2px solid #af4fff;
  border-radius: 20px;
  outline: none;
}

.navigation-link:active {
  opacity: 0.3;
}

.login-link {
  margin-left: -23px;
}

.login-link::before {
  display: block;
  content: "";
  background-image: url("../img/nav_header/login.svg");
  width: 13px;
  height: 12px;
  margin-right: 12px;
}


.compare-link {
  margin-left: 133px;
}

.compare-link::before {
  display: block;
  content: "";
  background-image: url("../img/nav_header/compare.svg");
  width: 10px;
  height: 12px;
  margin-right: 10px;
}

.basket-li {
  position: relative;
}

.basket-link {
  position: relative;
  margin-right: -22px;
}

.basket-link::before {
  display: block;
  content: "";
  background-image: url("../img/nav_header/basket.svg");
  width: 16px;
  height: 14px;
  margin-right: 10px;
}

.basket-span {
  position: absolute;
  left: 3px;
  padding-top: 2px;
  width: 23px;
  height: 21px;
  background-color: #ffffff;
  border-radius: 50%;
  text-align: center;

  font-size: 14px;
}

.popover-basket {
  display: none;

  position: absolute;
  top: 44px;
  left: -125px;
  z-index: 2;
  box-sizing: border-box;
  width: 320px;
  min-height: 150px;

  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  background-color: #000000;
  box-shadow: 0 10px 0 0 rgba(0, 0, 0, 0.1);
}

.popover::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 150px;
  width: 14px;
  height: 16px;
  background-color: transparent;
  background-image: url("../img/basket-popup/popup-tail.svg");
  background-repeat: no-repeat;
}

.basket-items-list {
  padding: 0;
}

.basket-item {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.basket-item-link {
  display: flex;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

.basket-item-pic {
  margin-right: 20px;
}

.basket-item-title {
  padding-right: 10px;
}

.basket-item-link:hover {
  opacity: 0.6;
}

.basket-item-link:focus-visible {
  outline: none;
}

.basket-item-link:focus-visible .basket-item-pic {
  outline: 5px solid #af4fff;
}

.basket-item-link:focus-visible .basket-item-title {
  color: #af4fff;
  outline: none;
}

.basket-item-link:active {
  opacity: 0.3;
}

.basket-item-delete-button {
  display: block;
  box-sizing: border-box;
  padding: 5px;
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: url("../img/basket-popup/delete-item.svg") no-repeat;
  background-color: transparent;
  background-position: center;
  cursor: pointer;
}

.basket-item-delete-button:hover {
  opacity: 0.6;
}

.basket-item-delete-button:focus-visible {
  outline: 2px solid #af4fff;
}

.basket-item-delete-button:active {
  opacity: 0.3;
}

.popover-result {
  display: flex;
  height: 44px;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  background-color: #1a1a1a;
}

.items-ammount,
.items-sum {
  padding: 0 20px;
}

.open-basket-wrapper {
  padding: 20px;
}

.open-basket-button {
  display: block;
  width: 280px;
  height: 50px;
  background-color: #ffffff;
  border: 0;
  color: #000000;

  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  cursor: pointer;
}


.open-basket-button:hover {
  background-color: #ffe17f;
}

.open-basket-button:focus-visible {
  outline: 5px solid #af4fff;
}

.open-basket-button:active {
  background-color: #ffe17f;
  color: rgba(0, 0, 0, 0.3);
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  justify-content: space-between;
}

.user-navigation-link {
  display: block;
  padding: 10px 18px;
  border: 2px solid transparent;
  border-radius: 20px;
  box-sizing: border-box;

  font-family: "Raleway";
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.header-catalogue-li {
  position: relative;

  display: block;
  margin-right: auto;
  margin-left: -20px;
}

.header-catalogue-link::before {
  position: absolute;
  display: block;
  content: "";
  left: 99%;
  top: -8%;
  width: 14px;
  height: 14px;
  padding: 15px;
  background-image: url("../img/nav_header/catalog-btn.svg");
  background-repeat: no-repeat;
  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.2;
  background-position: center;
  z-index: 2;
  transition: all 0.6s ease;
}


.header-catalogue-li:hover .dropdown-catalog {
  display: grid;
}

.header-catalogue-link:hover::before {
  background-image: url("../img/nav_header/cat-btn-hov.svg");
  opacity: 1;
}

.header-catalogue-link:active {
  opacity: 0.3;
}

.header-catalogue-link:active::before {
  background-image: url("../img/nav_header/cat-btn-hov.svg");
}

.shipping-link {
  margin-right: -9px;
}

.warranty-link {
  margin-right: 50px;
}

.contacts-link {
  margin-right: -25px;
}

.shipping-link:hover,
.warranty-link:hover,
.contacts-link:hover {
  color: #000000;
  text-decoration: underline;
  text-underline-offset: 8px;
}

.user-navigation-link:focus-visible {
  border: 2px solid #af4fff;
  outline: none;
}

.shipping-link:active,
.warranty-link:active,
.contacts-link:active {

  text-decoration: underline;
  text-underline-offset: 8px;
  opacity: 0.3;
}

.dropdown-catalog {
  display: none;

  position: absolute;
  width: 1100px;
  left: -40px;
  z-index: 1;
  padding-left: 59px;
  padding-top: 35px;
  padding-bottom: 56px;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(auto-fit, minmax(0, max-content));
  grid-auto-flow: column;
  gap: 20px 45px;

  background-color: #ffe17f;
}


.copters-link {
  grid-column: 3;
  padding-left: 15px;
}


.dropbtn {
  display: flex;
}

.dropdown-catalog-link {
  display: block;

  border-radius: 20px;
  font-size: 16px;
  line-height: 18px;
  color: #000000;

  text-decoration: none;
  cursor: pointer;
}

.dropdown-catalog-link:hover {
  opacity: 0.6;
}

.dropdown-catalog-link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 8px;
}

.dropdown-catalog-link:active {
  opacity: 0.3;
}


/*  main  */

.main-container {
  flex-grow: 1;
}

.slider {
  margin-top: -40px;
  margin-bottom: 62px;
  counter-reset: number 0;
}

.slider-item {
  position: relative;
  display: flex;
  background: linear-gradient(to bottom, #ffe17f 27%, #ffffff 27%);
  counter-increment: number;
}

.slider-item2,
.slider-item3 {
  display: none;
}

.slider-item::before {
  content: "0" counter(number);

  position: absolute;
  right: 50px;
  top: 15%;

  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  font-size: 180px;
  line-height: 30px;
  color: #ffffff;
}

.slider-pic {
  position: relative;
}

.slider-button {
  cursor: pointer;
}

.slider-prev {
  position: absolute;
  display: block;
  top: 43%;
  left: 9px;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 6px;
  background-image: url("../img/slider/slider-prev.svg");
  background-color: transparent;
  background-position: center;
  width: 40px;
  height: 80px;
  background-repeat: no-repeat;
}

.slider3-prev {
  position: absolute;
  display: block;
  top: 54%;
  left: 9px;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 6px;
  background-image: url("../img/slider/slider-prev.svg");
  background-color: transparent;
  background-position: center;
  width: 40px;
  height: 80px;
  background-repeat: no-repeat;
}

.slider-next {
  position: absolute;
  display: block;
  top: 43%;
  right: 8px;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 6px;
  background-image: url("../img/slider/slider-next.svg");
  background-color: transparent;
  width: 40px;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center;
}

.slider3-next {
  position: absolute;
  display: block;
  top: 54%;
  right: 8px;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 6px;
  background-image: url("../img/slider/slider-next.svg");
  background-color: transparent;
  width: 40px;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:focus-visible {
  border: 2px solid #af4fff;
  outline: none;
}

.slider-button:active {
  opacity: 0.3;
}

.slider-content {
  position: relative;

  width: 560px;
  margin-left: 40px;
  padding-top: 125px;
}

.slider-slogan {
  margin-top: 0;
  margin-bottom: 30px;

  font-family: "Raleway";
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.slider-item-text {
  margin-top: 0;
  margin-bottom: 50px;
}

.slider-link-container {
  display: flex;
  justify-content: space-between;
  padding-right: 60px;
  margin-bottom: 70px;
}

.slider-more {
  display: flex;
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  justify-content: center;
  z-index: 1;
}

.slider-pagination {
  padding-top: 5px;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.slider-pagination-button {
  display: block;
  padding: 0;
  height: 12px;
  width: 12px;
  border: 2px solid #000000;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.slider-pagination-button:hover {
  opacity: 0.6;
}

.slider-pagination-button:focus-visible {
  border: 2px solid #af4fff;
  outline: none;
}


.slider-pagination-button:active {
  opacity: 0.3;
}

.slider-pagination-button-current {
  display: block;
  padding: 0;
  height: 12px;
  width: 12px;
  border: 2px solid #000000;
  border-radius: 50%;
  background-color: #000000;
}

.slider-pagination-item {
  display: block;
  margin-right: 22px;
}

.slider-pagination-item:last-child {
  margin-right: 0;
}

.slider-more::before {
  content: "";
  position: absolute;
  top: 30%;
  width: 100%;
  height: 8px;
  background-color: #ffe17f;
  z-index: -1;
  transition: all 0.6s ease;
}

.slider-more:hover::before {
  transform: scaleY(6);
}

.slider-more:focus-visible {
  outline: none;
}

.slider-more:focus-visible::before {
  background-color: #af4fff;
  outline: none;
}

.slider-more:active {
  color: rgba(0, 0, 0, 0.3);
}

.slider-more:active::before {
  transform: scaleY(6);
}

.command-btn {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}


.slider-table tbody {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  background-image: none;
}

.slider th {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
}

.slider td {
  padding: 0 55px 10px 0;
  font-size: 36px;
  color: #000000;
  text-align: left;
}

td.slider3-td {
  padding-right: 75px;
}


.navigation-catalogue {
  margin-bottom: 130px;
}

.catalogue {
  display: flex;
  flex-wrap: wrap;

  margin-top: 0;
  margin-bottom: 0;
  padding-inline-start: 0;
  list-style-type: none;
}

.catalogue-menu-item {
  margin-right: 39px;
  margin-bottom: 20px;
}

.catalogue-menu-item:nth-child(6),
.catalogue-menu-item:last-child {
  margin-right: 0;
}

.catalogue-menu-link {
  position: relative;
  display: block;
  min-width: 160px;

  font-family: "Raleway";
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.catalogue-menu-link::before {

  display: block;
  content: "";
  width: 160px;
  height: 160px;
  margin-bottom: 35px;
  background-color: #ffe17f;
}

.catalogue-menu-link::after {
  position: absolute;
  display: block;
  content: "";
  width: 160px;
  height: 160px;
  top: 1px;
  margin-bottom: 35px;
}

.catalogue-menu-link:hover::before {
  background-color: #ffc700;
}

.catalogue-menu-link:focus-visible {
  color: #af4fff;
  outline: none;
}

.catalogue-menu-link:focus-visible::before {
  outline: 5px solid #af4fff;
}

.catalogue-menu-link:active::before {
  background-color: #ffc700;
}

.catalogue-menu-link:active::after {
  opacity: 0.3;
}

.vr::after {

  background-image: url("../img/catalog_menu/vr.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.monopods::after {

  background-image: url("../img/catalog_menu/monopods.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.cameras::after {
  left: 5px;
  background-image: url("../img/catalog_menu/action_cams.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.fitness-tracker::after {
  top: 3px;
  background-image: url("../img/catalog_menu/fitness_trackers.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.smart-watch::after {

  background-image: url("../img/catalog_menu/smart_watch.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.copters::after {
  top: 4px;
  background-image: url("../img/catalog_menu/quadcopters.svg");
  background-repeat: no-repeat;
  background-position: center;
}


.tablist {
  font-family: "Raleway";
  font-weight: 800;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  text-decoration: none;
}

.tablist-wrapper {
  width: 100%;
  min-width: 1160px;
  min-height: 318px;
  margin-bottom: 90px;
  background: linear-gradient(to top, #f0f0f0 290px, #ffffff 28px);
}

.tablist-container {
  display: flex;
}

.tablist-menu {
  width: 280px;
  position: relative;
  padding-top: 10px;

  margin-top: 0;
  margin-bottom: 0;
  padding-inline-start: 0;
  list-style-type: none;
}

.tablist-menu::after {
  position: absolute;
  content: "";
  display: block;
  top: -70px;
  right: -2%;
  width: 7px;
  height: 319px;
  background-color: #000000;
}

.tablist-link {
  position: relative;
  display: block;
  width: 160px;
  margin-bottom: 45px;
  z-index: 1;
  text-align: center;
  cursor: pointer;
}


.tablist-link::before {
  content: "";
  position: absolute;
  top: 30%;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  transition: all 0.6s ease;
}

.tablist-link-active {
  display: block;
  width: 280px;
  height: 40px;
  box-sizing: border-box;
  margin-bottom: 35px;
  padding: 10px 120px 10px 0;
  text-align: center;
  color: #ffe17f;
  background-color: #000000;
  cursor: pointer;
}


.tablist-link:hover::before {
  transform: scaleY(5);
}

.tablist-link:focus-visible {
  outline: none;
}

.tablist-link:focus-visible::before {
  background-color: #af4fff;
  outline: none;
}


.tablist-section {
  position: relative;
  padding-left: 120px;
}

.tablist-section p {
  margin-top: 0;
  margin-bottom: 0;
}

.tab-title {
  margin-top: 0;
  margin-bottom: 35px;
  position: relative;
}


.tab-shipping-info::before {
  content: "";
  position: absolute;
  top: 15px;
  right: -242px;
  width: 136px;
  height: 164px;
  background-image: url("../img/tablist/delivery.svg");
}

.tab-warranty-info {
  display: none;
}

.tab-credit-info {
  display: none;
}

.tab-warranty-info::before {
  content: "";
  position: absolute;
  top: -10px;
  right: -234px;
  width: 171px;
  height: 195px;
  background-image: url("../img/tablist/warranty.svg");
}

.tab-credit-info::before {
  content: "";
  position: absolute;
  top: -10px;
  right: -234px;
  width: 156px;
  height: 188px;
  background-image: url("../img/tablist/credit.svg");
}

.tab-title,
.about-us,
.contacts-title,
.newsletter h2,
.inner-header-title {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.about-us-and-contacts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  padding-top: 37px;
}

.about {
  margin-right: 30px;
}

.contacts {
  padding-right: 45px;
}

.contacts ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-inline-start: 0;
  list-style-type: none;
}

.about-us,
.contacts-title {
  display: block;
  position: relative;
  margin-top: 0;
  margin-bottom: 46px;
}


.about-us::before,
.contacts-title::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  top: -50px;
  background-color: #000000;
}

.newsletter-about {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 30px;
  padding-right: 35px;
  padding-top: 15px;
}


.extra-shipping {
  position: relative;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 110px;
  padding-right: 30px;
  padding-left: 315px;

  border: 5px solid transparent;
  background-color: #f0f0f0;

  font-family: "Raleway";
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.etra-shipping-info-icon {
  display: block;
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  border: 0;
  background-image: url("../img/extra-shipping-info.svg");
  opacity: 0.3;
  align-self: center;
}

.extra-shipping::before {
  content: "";
  position: absolute;
  border: 2px solid transparent;
  box-sizing: border-box;
  left: -8px;
  width: 125px;
  height: 100px;
  background-color: #ffe17f;
  background-position: center;
}

.extra-shipping::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  left: -8px;
  width: 125px;
  height: 100px;
  background: url("../img/special_delivery.svg") no-repeat transparent;
  background-position: center;
}

.extra-shipping:hover {
  background-color: rgba(235, 235, 235, 1);
  opacity: 1;
}

.extra-shipping:hover::before {
  background-color: #ffc700;
}


.extra-shipping:focus-visible {
  border: 5px solid #af4fff;
  outline: none;
}

.extra-shipping:focus-visible::before {
  border: 5px solid #af4fff;
  border-right: 0;
  outline: none;
}

.extra-shipping:active {
  color: rgba(220px, 220px, 220px, 0.5);
}


.extra-shipping:active::before {
  background-color: #ffc700;
}


.extra-shipping:active::after {
  opacity: 0.3;
}

.shipping-details {
  position: relative;
  display: flex;
  padding-left: 35px;
  margin-bottom: 20px;
  align-items: center;

  font-weight: 700;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.shipping-details::before {
  position: absolute;
  display: block;
  content: "";
  left: -1px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffc700;
}

.shipping-details:focus-visible {
  outline: none;
  color: #af4fff;
}

.newsletter-wrapper {
  width: 100%;
  min-width: 1160px;
  background-color: #f0f0f0;
  padding-top: 78px;
  padding-bottom: 120px;
}

.newsletter-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 57px;
}

.newsletter-container h2 {
  margin-top: 0;
  margin-bottom: 0;
}


.contacts-subtitle {
  margin-top: 0;
  margin-bottom: 15px;

  font-weight: 700;
  font-size: 24px;
}

.description {
  display: block;
  margin-top: 0;
  margin-bottom: 35px;
}


.shipping-companies {
  margin-top: 75px;

  margin-bottom: 0;
  padding-inline-start: 0;
  list-style-type: none;
}

.contacts-phone {
  display: inline-block;
  padding-right: 1px;
  border-radius: 20px;
  cursor: pointer;
}

.contacts-phone:hover {
  color: #ffc700;
}

.contacts-phone:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 5px;
}

.contacts-phone:active {
  color: #ffc700;
  opacity: 0.3;
}


.feedback,
.more {
  position: relative;
  display: block;
  top: -1px;
  z-index: 1;
  width: 260px;
  text-align: center;
}

.feedback {
  margin-top: 70px;
}

.more {
  margin-top: 75px;
}

.feedback::before,
.more::before {
  content: "";
  position: absolute;
  top: 30%;
  left: -1%;
  z-index: -1;
  width: 100%;
  height: 8px;
  background-color: #ffe17f;
  transition: all 0.6s ease;
}

.feedback:hover::before,
.more:hover::before {
  transform: scaleY(6);
}

.more:focus-visible,
.feedback:focus-visible {
  outline: none;
}

.feedback:focus-visible::before,
.more:focus-visible::before {
  background-color: #af4fff;
  outline: none;
}

.feedback:active,
.more:active {
  color: rgba(0, 0, 0, 0.3);
}

.feedback:active::before,
.more:active::before {
  transform: scaleY(6);
}

.contacts-address-text,
.contacts-phone {
  font-style: normal;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: inherit;
}

.contacts-address-text {
  margin-bottom: 30px;
}

.newsletter-form-wrapper {
  display: flex;
  justify-content: space-between;
}

.newsletter-form {
  display: flex;
}

.newsletter-form p {
  margin-top: 0;
  margin-bottom: 0;
}

.main-newsletter-email {
  width: 595px;
  height: 52px;

  background-color: transparent;
  border: 0;
  border-bottom: 3px solid #dcdcdc;

  font-size: 18px;
  cursor: pointer;
}

.main-newsletter-email:hover {
  border-bottom: 3px solid #ebebeb;
}

.main-newsletter-email:focus-visible {
  background-color: #dcdcdc;
  border-bottom: 3px solid #dcdcdc;
  outline: none;
}

.main-newsletter-email:not(:placeholder-shown) {
  border-bottom: 3px solid #000000;
}

.main-newsletter-email:active {
  border-bottom: 3px solid #000000;
}


.main-newsletter-email[invalid] {
  border-bottom: 3px solid #ff3d3d;
}


.newsletter-button {
  display: block;
  width: 260px;
  height: 57px;
  background-color: transparent;
  border: 3px solid #dcdcdc;

  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  cursor: pointer;
}

.newsletter-button:hover {
  color: #ffffff;
  background-color: #000000;
  border: 3px solid #000000;
}

.newsletter-button:focus-visible {
  border: 3px solid #af4fff;
  outline: none;
}

.newsletter-button:active {
  color: #4c4c4c;
  background-color: #000000;
  border: 3px solid #000000;
}

.newsletter-email-description {
  position: relative;
  display: flex;
  align-items: center;

}

.newsletter-email-description::before {
  position: relative;
  display: block;
  content: "";
  left: -21px;
  width: 14px;
  height: 14px;
  background: url("../img/check_green.svg") no-repeat;
}

/*  footer  */

.page-footer {
  width: 100%;
  min-width: 1160px;
  background-color: #444444;
  padding-top: 60px;
  padding-bottom: 60px;

  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.footer-logo-wrapper {
  margin-bottom: 35px;
}

.footer-logo-wrapper a {
  cursor: pointer;
}

.footer-logo:focus-visible {
  outline: 5px solid #af4fff;
  outline-offset: 5px;
}


.footer-content-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}

.footer-navigation {
  display: flex;
  width: 460px;
  flex-wrap: wrap;

  margin-top: 0;
  margin-bottom: 0;
  padding-inline-start: 0;
  list-style-type: none;
}

.footer-nav-link {
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: 20px;

  font-family: "Raleway";
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: inherit;
  background-color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.footer-shipping-link {
  margin-left: -44px;
}

.footer-warranty-link {
  margin-left: -15px;
}

.footer-contacts-link {
  margin-left: -18px;
}

.footer-nav-link:hover {
  color: #ffc700;
  text-decoration: underline;
  text-underline-offset: 8px;
}

.footer-nav-link:focus-visible {
  border: 2px solid #af4fff;
  outline: none;
}

.footer-nav-link:active {
  opacity: 0.3;
  color: #ffc700;
  text-decoration: underline;
  text-underline-offset: 8px;
}

.footer-contacts-address {
  width: 240px;
  font-style: normal;
  color: inherit;
  background-color: inherit;
}

.footer-contacts-address p {
  margin-top: 0;
  margin-bottom: 0;
}

.socials-htmlacademy-wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.socials-htmlacademy-wrapper::before {
  content: "";
  position: absolute;
  bottom: 40%;
  left: 3px;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 400px;
  margin-right: 245px;

  margin-top: 0;
  margin-bottom: 0;
  padding-inline-start: 0;
  list-style-type: none;
}

.footer-social-item {
  min-width: 40px;
  min-height: 40px;
  margin-right: 15px;
}

.footer-social-link,
.footer-academy-link,
.footer-academy-link {
  cursor: pointer;
}

.footer-social-link::before {
  display: block;
  content: "";
  width: 40px;
  height: 40px;
  border: 5px solid transparent;
  border-radius: 50%;
  box-sizing: border-box;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.3);
  background-repeat: no-repeat;
}

.facebook::before {
  background-image: url("../img/socials/facebook.svg");
}

.instagram::before {
  background-image: url("../img/socials/instagram.svg");
}

.twitter::before {
  background-image: url("../img/socials/twitter.svg");
}

.footer-social-link:hover::before {
  background-color: #ffc700;
}

.footer-social-link:focus-visible {
  outline: none;
}

.footer-social-link:focus-visible::before {
  border: 5px solid #af4fff;
  background-color: transparent;
  outline: none;
}

.facebook:focus-visible::before {
  background-image: url("../img/socials/facebook-focus.svg");
  outline: none;
}

.instagram:focus-visible::before {
  background-image: url("../img/socials/instagram-focus.svg");
  outline: none;
}

.twitter:focus-visible::before {
  background-image: url("../img/socials/twitter-focus.svg");
  outline: none;
}

.footer-social-link:active::before {
  background-color: #ffc700;
  opacity: 0.3;
}


.footer-academy-link::before {
  content: "";
  display: block;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-radius: 20px;
  width: 135px;
  height: 53px;
  padding: 20px;
  background-image: url("../img/htmlacademy_logo.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-academy-link:hover::before {
  background-image: url("../img/htmlacademy_logo_hover.svg");
}

.footer-academy-link:focus-visible {
  outline: none;
}

.footer-academy-link:focus-visible::before {
  border: 2px solid #af4fff;
  outline: none;
}

.footer-academy-link:active::before {
  background-image: url("../img/htmlacademy_logo_hover.svg");
  opacity: 0.3;
}

.footer-phone {
  display: inline;
  height: 20px;
  border-radius: 20px;

  font-style: normal;
  line-height: 30px;
  color: inherit;
  background-color: inherit;
  text-decoration: none;
}

.footer-phone:hover {
  color: #ffc700;
}

.footer-phone:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 10px;
}

.footer-phone:active {
  color: #ffc700;
  opacity: 0.3;
}

.footer-hmltacademy {
  display: flex;
  margin-top: -10px;
  margin-right: -10px;
  margin-bottom: 0;
}

/*  catalog  */


.logout-link {
  margin-left: -25px;
}

.compare-link-login::before {
  display: block;
  content: "";
  background-image: url("../img/nav_header/compare.svg");
  width: 10px;
  height: 12px;
  margin-right: 10px;
}

.inner-header {
  margin-top: 0;
  margin-bottom: 40px;
  padding-left: 120px;
}

.inner-header h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.breadcrumbs {
  display: flex;

  margin-top: 15px;
  margin-bottom: 0;
  padding-inline-start: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
  display: flex;
}

.breadcrumbs-link {

  margin-right: 17px;
  padding: 5px 12px;
  border: 5px solid transparent;

  color: #666666;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  cursor: pointer;
}

.breadcrumbs-item::after {
  position: absolute;
  content: "";
  display: block;
  top: 40%;
  right: 15px;
  width: 4px;
  height: 7px;
  background: url("../img/breadcrmb-arrow.svg") no-repeat;
  opacity: 0.3;
}

.breadcrumbs-link:first-child {
  margin-left: -17px;
}

.breadcrumbs-item:last-child::after {
  display: none;
}


.breadcrumbs-link:hover {
  color: #000000;
}

.breadcrumbs-link:focus-visible {
  border: 5px solid #af4fff;
  outline: none;
}

.breadcrumbs-link:active {
  color: #b3b3b3;
}

.main-inner {
  flex-grow: 1;
}


.catalog-wrapper {
  margin-top: 38px;
  min-height: 100%;
}

.catalog-grid-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.catalog-grid-container::before {
  content: "";
  background: linear-gradient(180deg, #dcdcdc 70px, #e5e5e5 70px);
}

.catalog-grid-container::after {
  content: "";
  background: linear-gradient(180deg, #ebebeb 70px, transparent 70px);
}

.catalog-content-wrapper {
  grid-column: 2;
  display: flex;
  width: 100%;
  max-width: 1160px;
}

.filter-container {
  padding-left: 60px;
  background: linear-gradient(180deg, #dcdcdc 70px, #e5e5e5 70px);
}


.filter {
  width: 200px;
  padding-top: 70px;
  padding-right: 70px;


  font-size: 16px;
  line-height: 19px;
  color: #000000;
  background-color: #e5e5e5;
}

.categories {
  width: 270px;
  height: 20px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 25px;
  padding-bottom: 25px;

  font-family: "Raleway";
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  background-color: #dcdcdc;
}

.catalog-filter-title {
  padding: 12px 0 0 0;
  margin-bottom: 37px;

  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.catalog-filter-group {
  border: 0;
  margin: 0 0 30px 0;
  padding: 0;
}

.catalog-filter-group ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-inline-start: 0;
  list-style-type: none;
}

.price-group {
  position: relative;
  margin-bottom: 55px;
}

.price-group::before {
  position: absolute;
  content: "";
  top: -71px;
  display: block;
  width: 200px;
  height: 2px;
  background-color: #000000;
}

.range-scale {
  position: relative;
  width: 200px;
  height: 2px;
  margin-bottom: 15px;
  background-color: #dcdcdc;
}

.range-bar {
  width: 110px;
  position: absolute;
  display: block;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  display: block;
  height: 50px;
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}


.range-toggle-btn {
  display: block;
  width: 18px;
  height: 18px;
  padding: 0;
  margin-bottom: 7px;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 50%;
  background-color: #ebebeb;
}

.range-toggle-span {
  display: flex;
  width: max-content;
  margin-left: -30%;
  font-family: "Rubik";
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.range-toggle:focus-visible {
  outline: none;
}

.range-toggle:focus-visible .range-toggle-btn {
  border-color: #af4fff;
  outline: none;
}

.range-toggle:focus-visible .range-toggle-span {
  color: rgba(175, 79, 255, 0.3);
  outline: none;
}

.range-toggle:active .range-toggle-btn {
  background-color: #000000;
}

.range-toggle:active .range-toggle-span {
  color: #000000;
}

.catalog-filter-input:focus-visible ~ .catalog-filter-label {
  color: #af4fff;
  outline: none;
}

.toggle-min {
  top: -10px;
}

.toggle-max {
  top: -10px;
  left: 110px;
}

.range-wrapper-inputs {
  display: flex;
}

.catalog-filter-input {
  font: inherit;
  text-align: start;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.catalog-filter-input::-webkit-outer-spin-button,
.catalog-filter-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.filter-input-min {
  width: 75px;
}

.filter-input-max {
  width: 80px;
}

.label-min-price {
  margin-left: -6px;
}

.color-group {
  position: relative;
  margin-bottom: 25px;
}

.color-group::before {
  position: absolute;
  content: "";
  top: -66px;
  display: block;
  width: 200px;
  height: 2px;
  background-color: #000000;
}

.color-group-title {
  margin-bottom: 27px;
}

.control {
  position: relative;
  display: block;
  line-height: 19px;
}

.control-input {
  cursor: pointer;
}

.control-mark {
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 2px solid #bcbcbc;
  border-radius: 3px;
  background-color: transparent;
}

.control-input[type="checkbox"]:checked + .control-mark {
  border-color: #000000;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  content: "";
  display: block;
  position: absolute;
  left: 4px;
  top: 3px;
  width: 10px;
  height: 10px;
  background: url("../img/tick_black.svg") no-repeat;
}

.control-label {
  display: block;
  margin-bottom: 21px;
  padding-left: 38px;

  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.control-input[type="checkbox"]:checked:hover ~ .control-label {
  opacity: 0.5;
}

.control-input[type="checkbox"]:checked:hover + .control-mark {
  opacity: 0.5;
}

.control-input[type="checkbox"]:checked:hover + .control-mark::before {
  content: "";
  display: block;
  position: absolute;
  left: 4px;
  top: 3px;
  width: 10px;
  height: 10px;
  background: url("../img/tick_black.svg") no-repeat;
  opacity: 0.5;
}

.control-input[type="checkbox"]:focus-visible ~ .control-label {
  color: #af4fff;
  outline: none;
}

.control-input[type="checkbox"]:focus-visible + .control-mark {
  border-color: #af4fff;
  outline: none;
}


.control-input[type="checkbox"]:checked:focus-visible + .control-mark::before {
  content: "";
  display: block;
  position: absolute;
  left: 4px;
  top: 3px;
  width: 10px;
  height: 10px;
  background: url("../img/tick-focus.svg") no-repeat;
  outline: none;
}


.control-input[type="checkbox"]:active ~ .control-label {
  opacity: 0.2;
}


.control-input[type="checkbox"]:checked:active + .control-mark {
  opacity: 0.2;
}

.control-input[type="checkbox"]:checked:active + .control-mark::before {
  content: "";
  display: block;
  position: absolute;
  left: 4px;
  top: 3px;
  width: 10px;
  height: 10px;
  background: url("../img/tick_black.svg") no-repeat;
  opacity: 0.2;
}

.control-input:disabled ~ .control-label,
.control-input:disabled:hover ~ .control-label {
  background-color: #bcbcbc;
}

.control-input:disabled + .control-mark,
.control-input:disabled:hover + .control-mark {
  color: rgba(0, 0, 0, 0.3);
}

.bluetooth-group {
  position: relative;
}

.bluetooth-group::before {
  position: absolute;
  content: "";
  top: -66px;
  display: block;
  width: 200px;
  height: 2px;
  background-color: #000000;
}

.bluetooth-group-title {
  margin-bottom: 30px;
}


.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  content: "";
  position: absolute;
  display: block;
  left: 4px;
  top: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #000000;
}

.control-input[type="radio"]:checked + .control-mark {
  border-color: #000000;
}

.control-input[type="radio"]:focus-visible + .control-mark {
  border-color: #af4fff;
  outline: none;
}

.control-input[type="radio"]:focus-visible ~ .control-label {
  color: #af4fff;
  outline: none;
}

.control-input[type="radio"]:checked:focus-visible + .control-mark::before {
  background-color: #af4fff;
  outline: none;
}


.filter-button {
  position: relative;
  border: 0;
  padding: 0 40px;
  background-color: inherit;
  z-index: 1;
}

.filter-button::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 8px;
  left: -1px;
  top: 30%;
  z-index: -1;
  background-color: #ffc700;
  transition: all 0.6s ease;
}

.filter-button:hover::before {
  transform: scaleY(6);
}

.filter-button:focus-visible {
  outline: none;
}

.filter-button:focus-visible::before {
  background-color: #af4fff;
  outline: none;
}

.filter-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.filter-button:active::before {
  transform: scaleY(6);
}


.sorting-wrapper {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;

  background-color: #ebebeb;
}


.sorting {
  padding-left: 70px;
  margin-right: 40px;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  background-color: #ebebeb;
}


.select-control {

  padding-right: 10px;

  font-family: "Rubik";
  font-size: 16px;
  line-height: 19px;

  background-color: transparent;
  border: 0;
}

.select-control:hover {
  opacity: 0.6;
}

.select-control:focus-visible {
  outline: 5px solid #af4fff;
  outline-offset: 7px;
}

.select-control:active {
  opacity: 0.3;
}

.sorting-buttons {
  display: flex;
  width: 40px;
  justify-content: space-between;
}

.sort-up {
  width: 10px;
  height: 10px;
  background: url("../img/sorting-up.svg") no-repeat transparent;
  opacity: 0.2;
}

.sort-down {
  display: block;
  width: 10px;
  height: 10px;
  background: url("../img/sorting-down.svg") no-repeat transparent;
}

.sort-up:hover,
.sort-down:hover {
  opacity: 0.5;
}

.sort-up:focus-visible,
.sort-down:focus-visible {
  outline: 5px solid #af4fff;
  outline-offset: 10px;
}

.sort-up:active,
.sort-down:active {
  opacity: 1;
}

.product-list-container {
  padding-top: 70px;
  padding-left: 70px;
  padding-bottom: 80px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px 40px;

  margin-top: 0;
  margin-bottom: 0;
  padding-inline-start: 0;
  list-style-type: none;
}

.product-card {
  position: relative;
}

.product-card-image {
  width: 360px;
  height: 380px;
  margin-bottom: 20px;
  object-fit: contain;
}

.product-card-info {
  display: flex;
  justify-content: space-between;
}

.product-card-link {
  display: block;

  text-decoration: none;
  cursor: pointer;
}

.product-card:hover .product-card-more {
  display: block;
}


.product-card-link:hover .product-card-image {
  opacity: 0.8;
}

.product-card-more:hover .product-card-image {
  opacity: 0.8;
}

.product-card-more {
  display: none;

  position: absolute;
  width: 180px;
  top: 39%;
  left: 26%;
  text-align: center;
  z-index: 2;
}

.product-card-more::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 8px;
  left: -1px;
  top: 30%;
  z-index: -1;
  background-color: #ffc700;
  transition: all 0.6s ease;
}

.product-card-more:hover::before {
  transform: scaleY(6);
}

.product-card-more:focus-visible::before {
  background-color: #af4fff;
  outline: none;
}

.product-card-more:active {
  color: rgba(0, 0, 0, 0.3);
}

.product-card-more:active::before {
  transform: scaleY(6);
}

.product-card-link:focus-visible {
  outline: none;
}

.product-card-link:focus-visible .product-card-title {
  color: #af4fff;
  outline: none;
}

.product-card-link:focus-visible .product-card-price {
  color: #af4fff;
  outline: none;
}

.product-card-link:focus-visible .product-card-image {
  outline: 5px solid #af4fff;
}

.product-card-title {
  max-width: 75%;
  margin-top: 0;
  margin-bottom: 0;

  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
}

.product-card-price {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 58px;

  line-height: 22px;
  color: #444444;
}


.pagination {
  display: flex;
  width: 760px;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  background-color: #ebebeb;
}

.pagination ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-inline-start: 0;
  list-style-type: none;
}


.pagination-list {
  display: flex;
  min-width: 180px;
  justify-content: space-between;
  margin-left: 50px;
}

.button-pagination-show-more {
  min-width: 760px;
  min-height: 55px;
  margin-top: 45px;
  margin-bottom: 50px;
  border: 3px solid #e5e5e5;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
}

.button-pagination-show-more:hover {
  border: 3px solid #000000;
}

.button-pagination-show-more:focus-visible {
  border: 3px solid transparent;
  outline: 5px solid #af4fff;
}

.button-pagination-show-more:active {
  border: 3px solid #000000;
  opacity: 0.3;
}

.button-pagination-show-more,
.pagination-prev,
.pagination-next-link {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  text-decoration: none;
}

.pagination-prev,
.pagination-next-link {
  display: block;
  padding: 25px;
}

.pagination-prev {
  padding-left: 30px;
}

.pagination-link {
  display: block;

  font-size: 16px;
  line-height: 19px;
  background-color: #ebebeb;
  text-decoration: none;
  cursor: pointer;
}

.pagination-number {
  min-width: 25px;
  color: rgba(0, 0, 0, 0.3);
  text-align: center;
}


.pagination-prev:hover,
.pagination-next-link:hover {
  background-color: rgba(220px, 220px, 220px, 1);
}

.pagination-prev:focus-visible {
  outline: 5px solid #af4fff;
}

.pagination-number:focus-visible {
  outline: 5px solid #af4fff;
}

.pagination-next-link:focus-visible {
  outline: 5px solid #af4fff;
}

.pagination-prev:active,
.pagination-next-link:active {
  background-color: rgba(220px, 220px, 220px, 1);
  color: #9a9a9a;
}


.modal-container {
  overflow: scroll;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;

  background-color: #ffffff;
  border: 10px solid #000000;
}

.modal-special-order {
  width: 920px;
  height: 580px;
  padding: 60px 70px;
  box-sizing: border-box;
  box-shadow: 0 10px 0 0 rgba(0, 0, 0, 0.1);
}

.modal-title {
  margin-top: 0;
  margin-bottom: 70px;

  font-family: "Raleway";
  color: #000000;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  letter-spacing: 0;
  text-align: left;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 80px;
  right: 70px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #ffffff;
  border: none;
  background-image: url("../img/modal/modal-close-btn.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:focus-visible {
  outline: 5px solid #af4fff;
  outline-offset: 12px;
}

.modal-close-button:active {
  opacity: 0.3;
}

.special-order-form {
  display: flex;
  width: 760px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.field-group {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 15px;
}

.client-name,
.client-email,
.client-order,
.ammount {
  margin-bottom: 15px;

  font-family: "Rubik";
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.client-name-form-field {
  width: 360px;
  height: 60px;
  box-sizing: border-box;
  padding: 20px;
  border: 0;
  background-color: rgba(240, 240, 240, 1);
  background-image: url("../img/modal/name-ic.svg");
  background-repeat: no-repeat;
  background-position: 325px 23px;

  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  color: rgba (0, 0, 0, 0.6);
  cursor: pointer;
}

.modal-error-comment,
.modal-ok-comment {
  padding-top: 5px;

  font-family: "Rubik";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.modal-error-comment {
  color: #ff3d3d;
}

.client-email-form-field {
  width: 360px;
  height: 60px;
  box-sizing: border-box;
  padding: 20px;
  border: 0;
  background-color: rgba(240, 240, 240, 1);
  background-image: url("../img/modal/email-ic.svg");
  background-repeat: no-repeat;
  background-position: 325px 23px;

  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  cursor: pointer;
}

.client-order-form-field {
  width: 560px;
  height: 60px;
  box-sizing: border-box;
  padding: 20px;
  border: 0;
  background-color: rgba(240, 240, 240, 1);

  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  color: rgba (0, 0, 0, 0.6);
  cursor: pointer;
}

.ammount-title-and-btn {
  display: flex;
  width: 160px;
}

.ammount {
  position: relative;
  align-items: center;
}

.modal-info-button {
  width: 26px;
  height: 26px;
  margin-left: 8px;
  border-radius: 50%;
  border: 0;
  background: url("../img/modal/modal-info.svg") no-repeat;
  background-position: center;
  background-color: #ffe17f;
  color: #000000;
  cursor: pointer;
}

.modal-info-button:hover ~ .popup-special-order-info {
  display: block;
}

.modal-info-button:focus-visible {
  outline: none;
}

.popup-special-order-info {
  display: none;
  position: absolute;
  z-index: 2;
  top: 35px;
  width: 200px;
  height: 160px;
  padding: 19px;
  box-sizing: border-box;
  background-color: #000000;
  box-shadow: 0 10 0 0 rgba(0, 0, 0, 0.1);

  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  color: #ffffff;
}

.popup-special-order-info::before {
  content: "";
  position: absolute;
  display: block;
  top: -5px;
  left: 125px;
  width: 14px;
  height: 6px;
  background: url("../img/modal/popup-tail.svg") no-repeat;
  background-color: transparent;
}

.modal-ammount-form {
  position: relative;
  display: flex;
  width: 160px;
  height: 60px;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #f0f0f0;
}


.ammount-form-field {
  width: 160px;
  height: 60px;
  border: 0;
  background-color: rgba(240, 240, 240, 1);

  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  cursor: pointer;

  -moz-appearance: textfield;
}

.ammount-form-field::-webkit-outer-spin-button,
.ammount-form-field::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}


.modal-ammount-btn {
  position: absolute;
  top: 23px;
  border: 0;
  border-radius: 50%;
  padding: 8px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.modal-min-button {
  background-image: url("../img/modal/modal-min-btn.svg");
  opacity: 0.6;
  left: 20px;
}

.modal-plus-button {
  background-image: url("../img/modal/modal-plus-btn.svg");
  opacity: 0.6;
  right: 20px;
}

.modal-field:hover {
  background-color: #ebebeb;
}

.modal-field:placeholder-shown:focus-visible {
  outline: 5px solid #af4fff;
}

.modal-field:placeholder-shown:active {
  outline: 3px solid #000000;
  background-color: #ffffff;
}

.modal-field:not(:placeholder-shown) {
  outline: 3px solid #000000;
  background-color: #ffffff;
}

.modal-input-error {
  outline: 3px solid #ff3d3d;
  background-color: #ffffff;
}

.modal-ammount-btn:hover {
  opacity: 1;
}

.modal-ammount-btn:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 8px;
}

.modal-ammount-btn:active {
  opacity: 0.2;
}

.send-order-btn {
  position: relative;
  border: 0;
  padding: 40px 30px;
  background-color: inherit;
  z-index: 1;
  cursor: pointer;
}

.send-order-btn::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 8px;
  left: -1px;
  top: 46%;
  z-index: -1;
  background-color: #ffc700;
  transition: all 0.6s ease;
}

.send-order-btn:hover::before {
  transform: scaleY(6);
}

.send-order-btn:focus-visible {
  outline: none;
}

.send-order-btn:focus-visible::before {
  background-color: #af4fff;
  outline: none;
}

.send-order-btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.send-order-btn:active::before {
  transform: scaleY(6);
}
